$fancyFont: 'Fredericka the Great', cursive;
$accentFont: 'Pompiere', cursive;
$bodyFont: 'Roboto Condensed', serif;

body {
  font-family: $bodyFont;
  font-size: 1rem;
}

h1 {
  font-family: $fancyFont;
  font-size: 500%;
}
