<!-- <div class="mobile-nav-wrap"> -->
  <div class="icon-menu" id="menu-show" ng-click="showmenu=true" ng-hide="showmenu">Menu Icon Appears Here</div>
  <nav class="" ng-hide="!showmenu">
    <a ng-click="showmenu=false" href="#" ><h2 class="button">Link One</h2></a>
    <a ng-click="showmenu=false" href="#" ><h2 class="button">Link Two</h2></a>
    <a ng-click="showmenu=false" href="#" ><h2 class="button">Link Three</h2></a>
    <a ng-click="showmenu=false" href="#" ><h2 class="button">Link Four</h2></a>
    <div id="menu-hide" ng-click="showmenu=false" ng-hide="!showmenu"></div>
  </nav>
<!-- </div> -->